spring:
    application:
        name: "reservation-system"
    profiles:
        active:
            - temporary
            - local
            - stage
            - production
    config:
        import:
            - classpath:restApi/index.yaml
            - classpath:persistence/hibernate.yaml
            - classpath:persistence/datasource/index.yaml
            - classpath:persistence/flyway/index.yaml
            - classpath:redis/datasource/index.yaml
            - classpath:redis/redisson/index.yaml
            - classpath:kafka/index.yaml
            - classpath:kafka/index.yaml
            - classpath:security/index.yaml
            - classpath:docker/index.yaml
            - classpath:common.yaml


