name: Adapter Module Test

on:
  workflow_call:

jobs:
  adapter-module:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
      - name: Set up JDK 21
        uses: actions/setup-java@ae2b61dbc685e60e4427b2e8ed4f0135c6ea8597 # v4.7.1
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: gradle
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # v4.4.2
      - name: Gradle Caching
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.1
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-v4-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-v4-

      - name: Setup Docker
        run: |
          sudo systemctl restart docker
          docker version
          echo "Docker API Version: $(docker version --format '{{.Server.APIVersion}}')"
      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew
      - name: Run tests and coverage
        run: ./gradlew :adapter-module:test :adapter-module:jacocoTestReport --continue
        continue-on-error: true
      - name: Upload adapter-module Jacoco
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: adapter-jacoco
          path: adapter-module/build/reports/jacoco/test/jacocoTestReport.xml

      - name: Upload adapter-module test result
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: adapter-test-results
          path: adapter-module/build/test-results/**/TEST-*.xml

