name: Daily Job

on:
  schedule:
    - cron: '*/5 * * * *'  # UTC 15:00 = KST 00:00
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  checks: write
  pull-requests: write

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger tests
        run: echo "Run Daily Tests"

  adapter-module:
    needs: run-tests
    name: Adapter Module Test
    uses: newkayak12/prototype-reservation-system/.github/workflows/adapter-module-test.yaml@master

  application-module:
    needs: run-tests
    name: Application Module Test
    uses: newkayak12/prototype-reservation-system/.github/workflows/application-module-test.yaml@master

  core-module:
    needs: run-tests
    name: Core Module Test
    uses: newkayak12/prototype-reservation-system/.github/workflows/core-module-test.yaml@master

  publish_test_results:
    name: Publish Test Results
    needs: [adapter-module, application-module, core-module]
    if: always()
    uses: newkayak12/prototype-reservation-system/.github/workflows/publish-test-result.yaml@master  # SHA 대신 master

  success-notification:
    if: ${{ needs.adapter-module.result == 'success' && needs.application-module.result == 'success' && needs.core-module.result == 'success' }}
    needs: [adapter-module, application-module, core-module]
    runs-on: ubuntu-latest
    steps:
      - name: Success Notification
        uses: newkayak12/github-actions/slack-api@main
        with:
          slack-token: ${{ secrets.SLACK_OAUTH_TOKEN }}
          channel: '#notification'
          template: 'success'
          title: 'Daily Tests Successful'
          description: 'All module tests passed'

  failure-notification:
    if: ${{ always() && (needs.adapter-module.result == 'failure' || needs.application-module.result == 'failure' || needs.core-module.result == 'failure') }}
    needs: [adapter-module, application-module, core-module]
    runs-on: ubuntu-latest
    steps:
      - name: Failure Notification
        uses: newkayak12/github-actions/slack-api@main
        with:
          slack-token: ${{ secrets.SLACK_OAUTH_TOKEN }}
          channel: '#notification'
          template: 'failure'
          title: 'Daily Tests Failed'
          description: 'One or more module tests failed'