name: Daily Job

on:
  schedule:
    - cron: '0 15 * * *'  # UTC 15:00 = KST 00:00
  workflow_dispatch:     # 수동 실행도 허용


jobs:
  adapter-module:
    name: Adapter Module Test
    uses: newkayak12/prototype-reservation-system/.github/workflows/adapter-module-test.yaml@658699f588c33d5c8d037c722352c8221568fe94

  application-module:
    name: Application Module Test
    uses: newkayak12/prototype-reservation-system/.github/workflows/application-module-test.yaml@658699f588c33d5c8d037c722352c8221568fe94

  core-module:
    name: Core Module Test
    uses: newkayak12/prototype-reservation-system/.github/workflows/core-module-test.yaml@658699f588c33d5c8d037c722352c8221568fe94

  publish_test_results:
    name: Publish Test Results
    needs:
      - adapter-module
      - application-module
      - core-module
    if: always()
    uses: newkayak12/prototype-reservation-system/.github/workflows/publish-test-result.yaml@658699f588c33d5c8d037c722352c8221568fe94
